*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.bg-img{
  background-image: url('../../Assets/bg-img.jpg') !important;
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
 /* position: absolute; */
 width: 100%;
 

}



.para{
width: 50%;
margin:  auto;
}

.btn-header{
  border: 1px solid rgb(150, 255, 150) ;
background-color: rgb(150, 255, 150);
padding: 5px 10px;
margin-top: 10px;
border-radius: 30px;
color: rgb(247, 240, 240);
}



@media(max-width:575px){
  .para{
    width: 80%;
    margin: auto;
  }
}